.filterable-dropdown {
    display: inline-block;
    max-width: 300px;
    min-width: 200px;
    position: relative;
}

.filterable-dropdown button {
    width: 100%;
}

.filterable-dropdown .filterable-dropdown-menu {
    background-color: #eee;
    border-radius: .25rem;
    margin-top: 10px;
    padding: 10px;
    position: absolute;
    top: 100%;
}

.filterable-dropdown .filterable-dropdown-menu:before {
    border-bottom: 5px solid #eee;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    content: ' ';
    display: block;
    height: 0;
    left: 50%;
    position: absolute;
    top: -5px;
    transform: translateX(-50%);
    width: 0;
}

.filterable-dropdown ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
